@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Helvetica, Arial, sans-serif;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1b2b45;
    border-radius: 5px;
}
